<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=1343px, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="js/jquery-2.0.0.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
<link href="css/javaniu.css" rel="stylesheet" />
<title>home</title>
<script type="text/javascript">
$(function() {
	var timeout;

$('.profile').hover(function() {

    pos = $(this).offset();

    timeout = setTimeout(function() {

        $('.hovercard').fadeIn().css({
            'top': pos.top - 50 + 'px',  // subtract 20px to account for padding
            'left': pos.left - 50 + 'px'
        });

    }, 500);

}, function() {
    clearTimeout(timeout);
});

$('.hovercard').mouseleave(function() {
    $('.hovercard').fadeOut();
});

});
</script>
<style type="text/css">
	

	.hovercard {
		display: none;
		position: absolute;
		height: 100px;
		padding: 20px 20px 20px 90px;
		z-index: 1;
	}
	 </style>
<script type="text/javascript">
function addM(){
	   var money=prompt("输入充值金额");
	   var fix_amountTest=/^(([1-9]\d*)|\d)(\.\d{1,2})?$/;
	   if(money!=null){
		   if( fix_amountTest.test(money)==false){
			   alert("请输入正确金额");
		   }
		   else{
			   $.ajax({
					url : '/addmoney?money='+money,
					type : 'post',
					dataType : "json",
					success : function(data) {
						if (data.code == 1) {
							alert(data.message);
							window.location.href = "/home";
						} else {
							alert(data.message);
						}
					}
				});
		   }
	   }
	   
}
function jiaoyan(){
	var name=String($('#name').val());
	if($('#name').val().length >  10)
	{
		alert('文章名称长度不能超过10');
		$('#name').val(name.substring(0,10));
		return ;
	}
}
	function add() {
		var name=String($('#name').val());
		var context=CKEDITOR.instances.content.getData().toString();
		if(name == null || name ==undefined || name == ''){
			alert("文章名称不能为空");
			return;
		}
		if(context == null || context ==undefined || context == ''){
			alert("文章内容不能为空");
			return;
		}
		$.ajax({
			url : '/addArt',
			type : 'post',
			contentType : "application/json",
			dataType : "json",
			data : JSON.stringify({
				'name' : $("#name").val().toString(),
				'goodsClass' : $("#goodsClass").val().toString(),
				'content' : CKEDITOR.instances.content.getData().toString(),
			}),
			success : function(data) {
				if (data.code == 1) {
					alert(data.message);
					window.location.href = "/home";
				} else {
					alert(data.message);
				}
			}
		});
	};
	function logout() {
		$.ajax({
			url : '/logout',
			type : 'post',
			contentType : "application/json",
			dataType : "json",
			data : JSON.stringify({}),
			success : function(data) {
				if (data.code == 1) {
					alert(data.message);
					window.location.href = "/getUserArticle?page=1";
				} else {
					alert(data.message);
				}
			}
		});
	};
</script>
</head>
<body style="background-color: #e83232;">
<div class="hovercard main"  th:if="${session.user!=null}">
		<div class="hovercontent">
		<div class="right_bar">
			<div class="user">
				<div class="row-fluid margin_top10" style="width: 300px;height: auto;">
					<div class="span6">
						<p th:text="'姓名:&nbsp;'+${session.user.name}"></p>
						<p th:text="'身份:&nbsp;'+${session.user.type}"></p>
						<p th:text="'余额:&nbsp;'+${#numbers.formatDecimal(session.user.money, 0, 2)}+'&nbsp;元'" th:if="${session.user.money}>0"></p>
						<p th:text="'余额:&nbsp;'+${session.user.money}+'&nbsp;元'" th:unless="${session.user.money}>0"></p>
						<a href="/UUPage">个人信息修改</a>&nbsp;&nbsp;<a onclick="addM()">账户充值</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="container-fluid">
		<div class="container-fluid">
			<nav class="navbar navbar-default " role="navigation">
				<div class="container-fluid">
					<div class="col-md-10">
						<div class="navbar-header">
							<img src="1.jpg" height="50" width="auto" />
						</div>
						<div>
							<ul class="nav navbar-nav">
								<li ><a href="/home" style="color: #e83232;">首页</a></li>
								<li><a href="/getUserArticle?page=1" style="color: #e83232;" th:if="${session.user != null}">我的推荐</a></li>
								<li><a href="/findAllG?page=1" style="color: #e83232;" th:if="${session.user != null}">我的购物记录</a></li>
								<li><a href="/findByShop?page=1" style="color: #e83232;" th:if="${session.user != null} and (${session.user.type=='商户'})">我的商铺</a></li>
							    <li><a href="/findAllB?page=1" style="color: #e83232;" th:if="${session.user != null} and (${session.user.type=='商户'})">我的售出记录</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-2">
						<div>
							<ul class="nav navbar-nav" th:if="${session.user != null}">
								<li><a href="" class="profile"
									style="color: #e83232; word-break: keep-all; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 120px;"
									th:text="'hello,'+${session.user.name}"></a></li>
								<li><a href="" onclick="logout()"
									style="color: #e83232; width: 100%;">注销</a></li>
							</ul>
							<ul class="nav navbar-nav" th:if="${session.user == null}"
								style="text-align: center;">
								<li><a href="login.html" style="color: #e83232; width: 120px;">登陆</a></li>
								<li><a href="regist.html" style="color: #e83232;">注册</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<div class="container">
		<h3 style="color: white;">编辑我的推荐</h3>
		<form>
			<table WIDTH="100%" BORDER="0" CELLPADDING="0" CELLSPACING="0"
				align="center">
				<tr height="20">
					<td height="24" colspan="2">&nbsp;</td>
				</tr>
				<TR>
					<td valign="top"></td>
					<TD COLSPAN="2" align="center" valign="top">
						<table width="100%"
							style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f5f5f5"
							CellPadding="0" CellSpacing="0">
							<tr>
								<td>
									<div class="input-group">
										<span class="input-group-addon">标题</span> <input type="text"
											name="name" class="form-control" id="name" onchange="jiaoyan()"/>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="input-group">
					<span class="input-group-addon">分类</span>  <select class="form-control" name="goodsClass" id="goodsClass">
						<option th:each="goodsclass : ${goodsClass}" th:text="${goodsclass.name}"></option>
						
					</select>
				</div>
								</td>
							</tr>
							<tr>
								<td>&nbsp;&nbsp;&nbsp;内容： <textarea id="content" cols="100" rows="20"
										class="ckeditor" name="content" ></textarea>
								</td>
							</tr>
						</table>
					</TD>
				</TR>
			</table>
		</form>
		<table>
			<tr height="20">
				<td><input type="submit" value="添加" onclick="add()" /> <input
					type="button" name="cancelButton" value="取消"
					onClick="history.back()" Class="ButtonCss" /></td>
			</tr>
		</table>
	</div>
</body>
</html>