<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=1343px, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="js/jquery-2.0.0.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
<link href="css/javaniu.css" rel="stylesheet" />
<title>home</title>
<script type="text/javascript">
$(function() {
	var timeout;

$('.profile').hover(function() {

    pos = $(this).offset();

    timeout = setTimeout(function() {

        $('.hovercard').fadeIn().css({
            'top': pos.top - 50 + 'px',  // subtract 20px to account for padding
            'left': pos.left - 50 + 'px'
        });

    }, 500);

}, function() {
    clearTimeout(timeout);
});

$('.hovercard').mouseleave(function() {
    $('.hovercard').fadeOut();
});

});
</script>
<style type="text/css">
	

	.hovercard {
		display: none;
		position: absolute;
		height: 100px;
		padding: 20px 20px 20px 90px;
		z-index: 1;
	}
	 </style>
<script type="text/javascript">
   function addM(){
	   var money=prompt("输入充值金额");
	   var fix_amountTest=/^(([1-9]\d*)|\d)(\.\d{1,2})?$/;
	   if(money!=null){
		   if( fix_amountTest.test(money)==false){
			   alert("请输入正确金额");
		   }
		   else{
			   $.ajax({
					url : '/addmoney?money='+money,
					type : 'post',
					dataType : "json",
					success : function(data) {
						if (data.code == 1) {
							alert(data.message);
							window.location.href = "/home";
						} else {
							alert(data.message);
						}
					}
				});
		   }
	   }
	   
   }
 
	function logout() {
		$.ajax({
			url : '/logout',
			type : 'post',
			contentType : "application/json",
			dataType : "json",
			data : JSON.stringify({}),
			success : function(data) {
				if (data.code == 1) {
					alert(data.message);
					window.location.href = "/home";
				} else {
					alert(data.message);
				}
			}
		});
	};
</script>
</head>
<body style="background-color: #e83232;">
 <div class="hovercard main"  th:if="${session.user!=null}">
		<div class="hovercontent">
		<div class="right_bar">
			<div class="user">
				<div class="row-fluid margin_top10" style="width: 300px;height: auto;">
					<div class="span6">
						<p th:text="'姓名:&nbsp;'+${session.user.name}"></p>
						<p th:text="'身份:&nbsp;'+${session.user.type}"></p>
						<p th:text="'余额:&nbsp;'+${#numbers.formatDecimal(session.user.money, 0, 2)}+'&nbsp;元'" th:if="${session.user.money}>0"></p>
						<p th:text="'余额:&nbsp;'+${session.user.money}+'&nbsp;元'" th:unless="${session.user.money}>0"></p>
						<a href="/UUPage" >个人信息修改</a>&nbsp;&nbsp;<a onclick="addM()">账户充值</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="container-fluid">
		<div class="container-fluid">
			<nav class="navbar navbar-default " role="navigation">
				<div class="container-fluid">
					<div class="col-md-10">
						<div class="navbar-header">
							<img src="1.jpg" height="50" width="auto" />
						</div>
						<div>
							<ul class="nav navbar-nav">
								<li class="active"><a href="/home" style="color: #e83232;">首页</a></li>
								<li><a href="/getUserArticle?page=1" style="color: #e83232;" th:if="${session.user != null}">我的推荐</a></li>
								<li><a href="/findAllG?page=1" style="color: #e83232;" th:if="${session.user != null}">我的购物记录</a></li>
								<li><a href="/findByShop?page=1" style="color: #e83232;" th:if="${session.user != null} and (${session.user.type=='商户'})">我的商铺</a></li>
							    <li><a href="/findAllB?page=1" style="color: #e83232;" th:if="${session.user != null} and (${session.user.type=='商户'})">我的售出记录</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-2">
						<div>
							<ul class="nav navbar-nav" th:if="${session.user != null}">
								<li><a href="" class="profile"
									style="color: #e83232; word-break: keep-all; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 120px;"
									th:text="'hello,'+${session.user.name}" ></a></li>
								<li><a href="" onclick="logout()"
									style="color: #e83232; width: 100%;">注销</a></li>
							</ul>
							<ul class="nav navbar-nav" th:if="${session.user == null}"
								style="text-align: center;">
								<li><a href="login.html" style="color: #e83232; width: 120px;"  >登陆</a></li>
								<li><a href="regist.html" style="color: #e83232;">注册</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<div class="container">
		<div style="text-align: center;">
			<form class="form-search" action="findByLike">
				<div class="form-inline">
					<input class="form-control" style="height: 40px; width: 500px;"
						type="text" name="name" />
					<button type="submit" class="btn" style="background-color:#fff;color: #e83232;">搜索</button>
				</div>
			</form>
		</div>
	</div>
	<div class="container">
		<div class="col-md-6" th:if="${Cgoods}!=null">
			<h3 style="color: #fff;">猜你喜欢</h3>
			<div class="carousel slide" id="carousel-857034">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-857034" class="active"></li>
					<li data-slide-to="1" data-target="#carousel-857034"></li>
					<li data-slide-to="2" data-target="#carousel-857034" ></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active" style="height: 200px;" th:each="goods,iterStat: ${Cgoods}" th:if="${iterStat.index==0}">
					<a th:href="@{/findById(id=${goods.id})}">	<img alt="" th:src="@{/load(fileName=${goods.image})}" height="100%" width="auto"
							style="display: block; margin: auto;max-width: 100%" ></img></a>
					</div>
					<div class="item" style="height: 200px;" th:each="goods,iterStat: ${Cgoods}" th:unless="${iterStat.index==0}">
					<a th:href="@{/findById(id=${goods.id})}">	<img alt="" th:src="@{/load(fileName=${goods.image})}" height="100%" width="auto"
							style="display: block; margin: auto;max-width: 100%" ></img></a>
					</div>
					
				</div>
				<a data-slide="prev" href="#carousel-857034"
					class="left carousel-control">‹</a> <a data-slide="next"
					href="#carousel-857034" class="right carousel-control">›</a>
			</div>
		</div>
		<div class="col-md-6">
			<h3><a style="color: #fff;font-size: 24px;" th:href="@{/getAllArticle(page=1,point=point)}">用户推荐贴</a></h3>
			<ul class="list-group">
				<li class="list-group-item"  th:each="article : ${articles}">
				<a th:href="@{/findArt(id=${article.id})}" style="color:#F88017;" th:text="${article.goodsclass}+' : '+${article.name}"></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="container" th:if="${goodsClasss}!=null">
		<div class="container">
			<h3 style="color: #fff;">可购买商品</h3>
			<div class="container"
				th:each="goodsClass ,iterStat : ${goodsClasss}">
				<h6>
					<a style="color: #fff;font-size: 15px;"
						th:href="@{/findByClass(page=1,class=${goodsClass.name})}"
						th:text="${goodsClass.name}+'>>>'" th:unless="${#lists.isEmpty(allGoods[iterStat.index])}"></a>
				</h6>
				<ul class="thumbnails" style="list-style-type: none">
					<li class="col-md-4" th:each="goods : ${allGoods[iterStat.index]}">
						<div class="thumbnail" style="height: 220px;">
							<img  th:src="@{/load(fileName=${goods.image})}" height="80%"
								width="auto" style="max-height: 80%;max-width: 300px;"/>
							<div class="caption" style="text-align: center;">
								<p>
									<font color="#e83232" th:text="'$ '+${#numbers.formatDecimal(goods.price, 0, 2)}+' '"></font><a
										class="btn btn-danger" th:href="@{/findById(id=${goods.id})}">购买</a>
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>